/** @module NewsList.module.scss
 *  @since 2023.01.27, 19:57
 *  @changed 2023.01.27, 22:44
 */

.container {
  flex: 1;
  display: flex;
  position: relative;
  overflow: hidden;
}

.contentContainer {
  max-width: 100%;
  overflow-x: auto;
}
