/** @module LoaderSplash.module.scss
 *  @since 2023.01.27, 21:26
 *  @changed 2023.01.27, 21:26
 */

.container {
  position: relative;
  padding: $itemPaddingPx;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity $animationTime;
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
  &.bg {
    &,
    &_white {
      background-color: #fff;
    }
    &_primary {
      background-color: $primaryColor;
    }
    &_neutral,
    &_gray {
      background-color: $neutralColor;
    }
  }
  &.fullSize {
    flex: 1;
  }
}
