/** @module styles.less
 *  @since 2023.01.27, 13:36
 *  @changed 2023.01.27, 13:36
 */

#__next,
body {
  margin: 0;
  padding: 0;
  > div {
    // Trick for full-width _next wrapper
    position: absolute;
    min-width: 100%;
    // border: 4px solid blue;
  }
}

body {
  font-family: $defaultFont;
  font-size: $defaultFontSizePx;
  background-color: $bodyBgColor;
}
