/** @module PageHeader.module.scss
 *  @since 2023.01.27, 16:20
 *  @changed 2023.01.27, 16:20
 */

.rootPage {
  /*!KEEP*/
}

.container {
  background-color: $primaryColor;
}

.box {
  margin: 0 $itemPaddingPx;
}

.logoBox {
  margin: $itemPaddingPx $blockPaddingPx;
  width: 130px; // Logo size by width
  height: 100px; // Determine entire header height (+ 2 * $itemPaddingPx)
  background-image: url('/images/assets/Logo_White.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.searchBox {
  flex: 1; // Full width
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
}
